<header role="banner" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-3">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" href="/" >Narrow</a>
                    </div>
                </div>
                <div class="col-md-9 main-nav">
                    <ul class="nav text-right">
                        <li><a class="nav-item" href="/">Home</a></li>
                        <li><a class="nav-item" href="services">Services</a></li>
                        <li><a class="nav-item" href="products">Products</a></li>
                        <li><a class="nav-item" href="about">About</a></li>
                        <li><a class="nav-item" href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  </div>
</header>
